

body {
    font-family: 'CheesePizza', sans-serif;
    
}



/* Target the Spline canvas/container directly if possible */

.spline-scale {
  transform: scale(1.2); /* Base scale */
}

@media (min-width: 768px) {
  .spline-scale {
    transform: scale(1.3); /* Adjust for tablets */
  }
}

@media (min-width: 1024px) {
  .spline-scale {
    transform: scale(1.5); /* Adjust for desktops */
  }
}


.handwriting {
    position: absolute;
  top: 0; /* Adjust this value to align with the image */
  left: 0; /* Adjust this value to align with the image */
  width: 232.2px; /* Target width */
  height: 232.2px; /* Target height */
}

.handwriting path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 8s forwards;
}
/* .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 8s linear alternate infinite;
} */

/* @keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
} */

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}




.sixty-four-font {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

#modal-wrapper {
    /* width: 25%;
    height: auto; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    /* left: 10px;
    top: 5%; */
    z-index: 10;
    padding: 2rem;
}

@media(max-height: 800px) {
    #modal-wrapper {
        height: 100vh;
    }
}

#modal {
    display: flex;
    width: 50rem;
    aspect-ratio: 5 / 3;
    position: relative;
    background-color: rgb(50 50 50);
    border: 0.5rem solid rgb(30 30 30);
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 5rem;
    overflow: hidden;
    box-shadow: 12px 25px 50px 12px rgb(0 0 0 / 0.5);
}

@media(max-width: 1024px) {
    #modal {
        aspect-ratio: auto;
        min-height: 500px;
        width: 100%;
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 3rem;
        border-top-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
}

@media(max-width: 728px) {
    #modal {
        min-height: 400px;
    }
}

#modal-background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-image: url("https://assets.codepen.io/1468070/Repeatable+Pattern+-+Wavy+Lines.png?format=auto&quality=80");
    background-size: 200%;
    opacity: 0.3;
    animation: move-background 50s linear infinite;
}

#modal-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 3rem;
    position: relative;
    z-index: 2;
}

#modal-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#modal-message p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 0px 0px 8px rgb(0 0 0 / 50%);
}

#modal-actions {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

@media(max-width: 1024px) {
    #modal-actions {
        align-items: center;
        flex-direction: column-reverse;
    }
}

.modal-action {
    width: 16rem;
    padding: 0.85rem;
    position: relative;
    font-size: 1.25rem;
    border: none;
    border-radius: 0.75rem;
    outline: 0.2rem solid white;
    outline-offset: 0.2rem;
    overflow: hidden;
    cursor: none;
}

@media(max-width: 1024px) {
    .modal-action {
        width: 100%;
        max-width: 400px;
    }
}

.modal-action:is(:hover, :focus-visible) {
    background-color: rgb(253, 224, 71);
}

.modal-action:is(:hover, :focus-visible) .modal-action-fade,
.modal-action:is(:hover, :focus-visible) .modal-action-pattern {
    display: block;
}


.modal-action:is(:hover, :focus-visible) .modal-action-text-letter {
    animation: bounce infinite;
}

.modal-action-fade,
.modal-action-pattern {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.modal-action-fade {
    z-index: 1;
    background: linear-gradient(to left, rgb(253, 224, 71), transparent 60%);
}

.modal-action-pattern {
    background-image: radial-gradient(rgb(255 255 255 / 0.6) 30%,
            transparent 30%);
    background-position: 0% 0%;
    background-size: 10px 10px;
    animation: move-background 50s linear infinite;
    transform: skew(-15deg, 0deg);
}

.modal-action-text {
    position: relative;
    z-index: 2;
    color: black;
    font-size: 1.25rem;
}

.modal-action-text-letter {
    display: inline-flex;
    position: relative;
}

@keyframes move-background {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -100% 0%;
    }
}

@keyframes bounce {

    0%,
    20%,
    100% {
        translate: 0% 0%;
    }

    10% {
        translate: 0% -12%;
    }
}

@keyframes blink {

    0%,
    3%,
    100% {
        scale: 1 1;
    }

    1.5% {
        scale: 1 0;
    }
}

@keyframes drawHorizontalLine {
    to { width: 25%; } /* Adjust as needed */
}

@keyframes drawVerticalLine {
    to { height: 100px; } /* Adjust based on desired length */
}

.horizontal-line {


    animation: drawHorizontalLine 2s forwards;
}

.vertical-line {


    animation: drawVerticalLine 2s .5s forwards; /* Start after horizontal line */
}
