/* About.css */
@keyframes drawHorizontalLine2 {
    to { width: 35%; } /* Adjust as needed */
}

@keyframes drawVerticalLine2 {
    to { height: 50px; } /* Adjust based on desired length */
}

.horizontal-line2 {


    animation: drawHorizontalLine2 2s forwards;
    opacity: .5;
}

.vertical-line2 {


    animation: drawVerticalLine2 2s .8s forwards; /* Start after horizontal line */
    opacity: .5;
}